{% extends "layout.html" %}

{% block body %}
<table class="table table-light">
  <h1>Ilmoittautumisesi</h1>
    <tr>
      <th>enrolment id</th>

    </tr>
    {% for enrolment in enrolments %}
    {% if current_user.id == enrolment.account_id %}
    <tr>
      <td>{{ enrolment.id }}</td>
      <td>
        <form method="POST" action="{{ url_for('enrolments_remove', course_id = enrolment.course_id) }}">
          <input type="submit" value="Poista"/>
        </form>
        <form method="POST" action="{{ url_for('invoice_index', course_id = enrolment.course_id, enrolment_id = enrolment.id) }}">
            <input type="submit" value="Lasku"/>
          </form>
      </td>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}