{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('courses_modify', course_id = course.id) }}">
  <table>
    <tr>
        <h1>Muokkaa kurssin {{ course.name }} tietoja</h1>
        {{ form.name.label }} <br>
        {{ form.name(value=course.name) }} <br>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {%endfor%}
        </ul>
        {{ form.location.label }} <br>
        {{ form.location(value=course.location) }} <br> 
        <ul>
          {% for error in form.location.errors %}
          <li>{{ error }}</li>
          {%endfor%}
        </ul>
        <div class = "form-field-item">
            <p>Alkaa</p>
            <input 
              name="startingDate"
              type="date"
              value="{{courseStart}}"
            >
          </div><br>
          <div class = "form-field-item">
            <p>Loppuu</p>
            <input 
              name="endingDate"
              type="date"
              value="{{courseEnd}}"
            >     
          </div><br>
          {% for error in form.startingDate.errors %}
          <li>{{ error }}</li>
          {%endfor%}
        </ul>
        <label for="description">Kuvaus</label> <br>
          <textarea cols="50" id="description" name="description" rows="10">{{course.description}}</textarea> <br>
        <ul>
          {% for error in form.description.errors %}
          <li>{{ error }}</li>
          {%endfor%}
        </ul>
        {{ form.price.label }} <br>
        {{ form.price(value=course.price) }}€ <br><br>
        <ul>
          {% for error in form.price.errors %}
          <li>{{ error }}</li>
          {%endfor%}
        </ul>
    </tr>
    <tr>
<td colspan="2">
  <input type="submit" value="Tallenna muutokset"/>
</td>
    </tr>
</form>
{% endblock %}