
{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
      <ul>
        <h1>Kurssi: {{ course.name }}</h1>
        <b>
            {{ course.startingDate.day }}.{{ course.startingDate.month }}.{{ course.startingDate.year }}
            - {{ course.endingDate.day }}.{{ course.endingDate.month }}.{{ course.endingDate.year }}
        </b><br><br>
        <b>Järjestäjä: {{ course.get_organiser_name() }}</b><br>
      </ul>
      <ul>
          <b>Sijainti:</b> {{ course.location }}
      </ul>
        <ul>
            <b>Kuvaus</b><br>
            {{course.description}}
          </ul>
          <ul>
            <b>Hinta:</b> {{course.price}}€<br><br>
            <b>Osallistujat:</b><br>
            {% for e in course.get_enrollees() %}
            -{{ e }}<br>
            {% endfor %}
          </ul>
    </tr>
    <tr>
    </tr>
</table>
</form>
{% endblock %}