{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Kurssi</th>
      <th>Järjestäjä</th>
      <th>Paikka</th>
      <th>Hinta</th>
      <th>Kurssi alkaa</th>
      <th>Kurssi loppuu</th>
      <th>Kuvaus</th>
      <th>Ilmoittaudu</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.get_organiser_name() }}</td>
      <td>{{ course.location }}</td>
      <td>{{ course.price }}€</td>
      <td>{{ course.startingDate }}</td>
      <td>{{ course.endingDate }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.enroll }}</td>
      <td>
        
        <form method="POST" action="{{ url_for('courses_enroll', course_id=course.id) }}">
          <input type="submit" value="Ilmoittaudu"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
